@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  text-decoration: none;
}

body{
  margin: 0;
  padding: 0 4em;
  box-sizing: border-box;
  font-family: 'poppins';
  overflow-x: hidden !important;
}

/* the padding should be 0.4 when in mobile */
@media (max-width: 768px) {
  body{
    padding: 0.5em;
  }
}